/* Lanyard.css */
.lanyard-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  /* THE FIX: Stretches across the entire screen */
  width: 99vw; 
  height: 100vh; 
  /* Sits at the very back of the room */
  z-index: 1; 
  display: block;
  pointer-events: auto;
  overflow: hidden;
}